{% extends 'gamebase.html' %}


{% block title %}
<title>Defeat INE-VIT-ABLE | {{ gamename }} Play!</title>
{% endblock %}


{% block styles %}
{% endblock %}


{% block content %}
<div id="game-container">
    <!-- Our game will be rendered here -->
    <div class="game-window-container">
        <canvas id="gameWindow" class="game-window"></canvas>
        <button id="fullscreenButton" class="fullscreen-button">
            <img src="fullscreen-icon.png" alt="Fullscreen Icon">
        </button>
    </div>
</div>
{% endblock %}


{% block scripts %}
<scripts>
    // Fullscreen function
const fullscreenButton = document.getElementById('fullscreenButton');
const gameWindow = document.getElementById('gameWindow');

fullscreenButton.addEventListener('click', () => {
    if (!document.fullscreenElement) {
        if (gameWindow.requestFullscreen) {
            gameWindow.requestFullscreen();
        } else if (gameWindow.mozRequestFullScreen) { // Firefox
            gameWindow.mozRequestFullScreen();
        } else if (gameWindow.webkitRequestFullscreen) { // Chrome, Safari and Opera
            gameWindow.webkitRequestFullscreen();
        } else if (gameWindow.msRequestFullscreen) { // IE/Edge
            gameWindow.msRequestFullscreen();
        }
    } else {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        }
    }
});
</scripts>
{% endblock %}