<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defeat Ine-VIT-able</title>
    <link rel="stylesheet" href="../static/homestyle.css">
</head>
<body>
    
    <div class="container">
    <header>
        <video autoplay loop muted plays-inline class="background-cip">
            <source src="../static/2024-09-25 22-13-28.mp4" type="video/mp4">
        </video>
        <div class="nav-buttons">
            <form action="{{ url_for('rate_us') }}">
                <button class="rate-us">Rate Us</button>
            </form>
            <form action="{{ url_for('about_us') }}">
                <button class="about-us">About Us</button>            
            </form>
        </div>
    </header>
        
    <section class="catalogue">
        <div>
            <div class="game-item">
                <img src="game1-logo.png" alt="Game 1 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Aritra's Game</h3>
                    <p>game 1 description.</p>
                </div>
                <form action="../templates/pre_game1.html">
                    <button class="play-button">More</button>
                </form>
            </div>

            <div class="game-item">
                <img src="game2-logo.png" alt="Game 2 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Space </h3>
                    <p>game 2 description.</p>
                </div>
                <form action="../templates/pre_game2.html">
                    <button class="play-button">More</button>
                </form>
            </div>

            <div class="game-item">
                <img src="../static/flappybird_logo.jpg" alt="Game 3 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Flappy Bird</h3>
                    <p>Flappy bird. An Arcade style game, where the player controls Faby, the bird. Defeat Inevitable!</p>
                </div>
                <form action="../templates/pre_game3.html">
                    <button class="play-button">More</button>
                </form>
            </div>
        </div>


        <div>
            <div class="game-item">
                <img src="game4-logo.png" alt="Game 1 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Game 1</h3>
                    <p>game 1 description.</p>
                </div>
                <form action="../templates/pre_game4.html">
                    <button class="play-button">More</button>
                </form>
            </div>

            <div class="game-item">
                <img src="game5-logo.png" alt="Game 2 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Game 2</h3>
                    <p>game 2 description.</p>
                </div>
                <form action="../templates/pre_game5.html">
                    <button class="play-button">More</button>
                </form>
            </div>

            <div class="game-item">
                <img src="game5-logo.png" alt="Game 2 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Game 2</h3>
                    <p>game 2 description.</p>
                </div>
                <form action="../templates/pre_game6.html">
                    <button class="play-button">More</button>
                </form>
            </div>
        </div>


    </section>
</body>
</html>