<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defeat INE-VIT-ABLE</title>
    <link rel="stylesheet" href="homestyle.css">
</head>
<body>
    
    <div class="container">
    <header>
        <img src="https://github.com/aishwarrya2006/website-flask/commit/b34c52fe0a28e9714988874dd26b95ec9fd6be8a" alt="Website Logo" class="logo">
        <div class="nav-buttons">
            <button class="rate-us">Rate Us</button>
            <button class="about-us">About Us</button>
        </div>
    </header>
        
    <section class="catalogue">
            <div class="game-item">
                <img src="game1-logo.png" alt="Game 1 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Game 1</h3>
                    <p>game 1 description.</p>
                </div>
                <button class="play-button">Play</button>
            </div>

            <div class="game-item">
                <img src="game2-logo.png" alt="Game 2 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Game 2</h3>
                    <p>game 2 description.</p>
                </div>
                <button class="play-button">Play</button>
            </div>

            <div class="game-item">
                <img src="game3-logo.png" alt="Game 3 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Game 3</h3>
                    <p>game 3 description.</p>
                </div>
                <button class="play-button">Play</button>
            </div>

            <div class="game-item">
                <img src="game4-logo.png" alt="Game 4 Logo" class="game-logo">
                <div class="game-details">
                    <h3>Game 4</h3>
                    <p>game 4 description.</p>
                </div>
                <button class="play-button">Play</button>
            </div>
        </section>
</body>
</html>
